{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block h1_title %}{{ project.name }}: Edit {{ participant.user.username }}{% endblock %}

{% block content %}

<p>
  Details that are not listed below, such as email address, can only be changed globally.
  {% if user.system_permissions.can_edit_users %}
    Please <a href="{% url 'identity:edit_user' participant.user.id %}">edit the user</a> instead if you wish to change these.
  {% else %}
    Please contact someone with the appropriate credentials if you wish to change these.
  {% endif %}
</p>

<form method="POST">
  {% csrf_token %}
  {{ form.media }}
  {% crispy form %}

  {% if formset %}
    <h2>Work Packages</h2>
    <div id="{{ formset.prefix }}-formset">
      {% crispy formset %}
    </div>
  {% endif %}

</form>

{% endblock content %}


{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></li>
  <li class="breadcrumb-item">Participants</li>
  <li class="breadcrumb-item">{{ participant.user.username }}</li>
  <li class="breadcrumb-item">Edit</li>
{% endblock crumbs %}

{% block extra_js %}
  <script type="text/javascript">formset('#{{ formset.prefix }}-formset', '{{ formset.prefix | escapejs }}', 'Add Work Package')</script>
{% endblock %}
