{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load haven %}
{% load static %}

{% block page_title %}{{ project.name }}: Edit Participants{% endblock %}
{% block h1_title %}{{ project.name }}: Edit Participants{% endblock %}

{% block content %}
<p>
  If the user you wish to edit is not present below, they have not yet been added to the project.
  {% url_check 'projects:add_user' project.uuid as add_user_href %}
  {% if add_user_href %}
    Please <a href="{{ add_user_href }}">add the user to the project</a> first.
  {% else %}
    Please contact someone with the appropriate credentials to add the user to the project.
  {% endif %}
</p>

<form method="POST" action="">
  {% csrf_token %}
  <div id="{{ formset.prefix }}-formset">
  {% crispy formset helper %}
  </div>
</form>

{% endblock content %}

{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' project.uuid %}">{{ project.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Participants</li>
{% endblock crumbs %}

{% block extra_js %}
  <script type="text/javascript">formset('#{{ formset.prefix }}-formset', '{{ formset.prefix | escapejs }}', null)</script>
{% endblock %}
