{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load haven %}

{% block h1_title %}Add Work Package{% endblock %}

{% block content %}
<p>
  For this data classification model, classification is carried out on work packages rather than individual datasets.
</p>

<p>
  Classification to a tier is not a property of a dataset, because a dataset's sensitivity depends on the data it can be combined with, and the use to which it is put.
</p>

<p>
  In our model, projects are divided into work packages, which we use here to refer to the activities carried out within a distinct phase of work carried out as part of a project, with a specific outcome in mind.
  A work package can make use of one or more datasets, and includes an idea of the analysis which the research team intends to carry out, the potential outputs they are expecting, and the tools they intend to use – all important factors affecting the data sensitivity.
</p>

<form method="POST">
  {% csrf_token %}
  {{ form.media }}
  {% crispy form %}
</form>

{% endblock content %}

{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' project.uuid %}">{{ project.name }}</a></li>
  <li class="breadcrumb-item">Work Packages</li>
  <li class="breadcrumb-item active" aria-current="page">New</li>
{% endblock crumbs %}
