{% extends "base.html" %}
{% load django_tables2 %}
{% load haven %}

{% block page_title %}{{ project.name }}{% endblock %}
{% block h1_title %}{{ project.name }}{% endblock %}

{% block content %}
  {% if participant %}
    <p>Role: {{ participant.get_role_display }}</p>
  {% endif %}

  <p>{{ project.description }}</p>

  {% for p in project.programmes.all %}
    <a href="{% url "projects:list" %}?programme={{ p.slug }}" class="badge badge-info project-badge">{{ p.name }}</a>
  {% endfor %}

{% endblock content %}

{% block actions %}

  {% url_check 'projects:edit' project.id as edit_project_href %}
  {% if edit_project_href %}
    <a class="btn btn-lg my-2 custom-btn" href="{{ edit_project_href }}">Edit Project</a>
  {% endif %}
  {% url_check 'projects:history' project.id as history_href %}
  {% if history_href %}
    <a class="btn btn-lg my-2 custom-btn" href="{{ history_href }}">View History</a>
  {% endif %}
  {% url_check 'projects:archive' project.id as archive_href %}
  {% if archive_href %}
    <a class="btn btn-lg my-2 custom-btn" href="{{ archive_href }}">Archive Project</a>
  {% endif %}

{% endblock %}

{% block extra_sections %}
  <div class="project-details">
  {% if project_permissions.can_list_participants %}
    {% include "projects/includes/project_detail_participants.html" %}
  {% endif %}
  {% include "projects/includes/project_detail_work_packages.html" %}
  {% include "projects/includes/project_detail_datasets.html" %}
  </div>
{% endblock extra_sections %}



{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
{% endblock crumbs %}
