{% extends "base.html" %}
{% load bleach_tags %}
{% load haven %}

{% block page_title %}{{ work_package.name }}{% endblock %}
{% block h1_title %}{{ work_package.name }}{% endblock %}

{% block content %}
  {% if participant %}
  <p>
  Role: {{ participant.get_role_display }}
  </p>
  {% endif %}

  <p>
  {{ work_package.description | bleach }}
  </p>
{% endblock content %}

{% block extra_sections %}
  {% include "projects/includes/work_package_detail_participants.html" %}

  {% include "projects/includes/work_package_detail_datasets.html" %}

  {% if policy_table %}
    {% include "projects/includes/work_package_detail_policy.html" %}
  {% endif %}

  {% if question_table %}
    {% include "projects/includes/work_package_detail_questions.html" %}
  {% endif %}
{% endblock extra_sections %}

{% block actions %}
  {% url_check 'projects:work_package_edit' project.id work_package.id as edit_work_package_href %}
  {% if edit_work_package_href %}
    <a class="btn btn-lg my-1 custom-btn" href="{{ edit_work_package_href }}">Edit Work Package</a>
  {% endif %}

  {% url_check 'projects:work_package_delete' project.id work_package.id as delete_work_package_href %}
  {% if delete_work_package_href %}
    <a class="btn btn-lg my-1 custom-btn" href="{{ delete_work_package_href }}">Delete Work Package</a>
  {% endif %}

  {% url_check 'projects:classify_clear' project.id work_package.id as clear_work_package_href %}
  {% if clear_work_package_href %}
    <a class="btn btn-lg my-1 custom-btn" href="{{ clear_work_package_href }}">Clear Classifications</a>
    <a class="btn btn-lg my-1 custom-btn" href="{{ clear_work_package_href }}">Clear Classifications</a>
  {% endif %}

  {% url_check 'projects:classify_open' work_package.project.id work_package.id as classify_open_href %}
  {% if classify_open_href %}
    <a class="btn  btn-lg custom-btn" href="{{ classify_open_href }}">Open Classification</a>
  {% else %}
    {% url_check 'projects:classify_close' work_package.project.id work_package.id as classify_close_href %}
    {% if classify_close_href %}
      <a class="btn btn-lg custom-btn" href="{{ classify_close_href }}">Close Classification</a>
    {% else %}
      {% url_check 'projects:classify_results' work_package.project.id work_package.id as classify_results_href %}
      {% url_check 'projects:classify_data' work_package.project.id work_package.id as classify_data_href %}
      {% if classify_results_href %}
        {% if not classify_data_href %}
          <a class="btn btn-lg custom-btn" href="{{ classify_results_href }}">View Classification</a>
        {% elif has_classified %}
          <a class="btn btn-lg custom-btn" href="{{ classify_results_href }}">View Your Classification</a>
        {% else %}
          <a class="btn btn-lg custom-btn" href="{{ classify_results_href }}">Classify Work Package</a>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock actions %}

{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' work_package.project.id %}">{{ work_package.project.name }}</a></li>
  <li class="breadcrumb-item">Work Packages</li>
  <li class="breadcrumb-item active" aria-current="page">{{ work_package.name }}</li>
{% endblock crumbs %}
