{% extends "includes/table_inline_formset.html" %}

{% load haven %}

{% block extra_headings %}
    <th>User</th>
{% endblock %}

{% block extra_values %}
    <td class="form-group">

        {% url_check 'identity:edit_user' form.project_user.id as edit_user_href %}
        {% if edit_user_href %}
            <a href="{{ edit_user_href }}">
        {% endif %}

        {{ form.project_user.display_name }}

        {% if edit_user_href %}
            </a>
        {% endif %}
    </td>
{% endblock %}
