{% extends "includes/section.html" %}
{% load django_tables2 %}
{% load haven %}

{% block name %}<a href="{% url 'projects:list_work_packages' project.id %}">Work Packages</a>{% endblock %}

{% block actions %}
  {% url_check 'projects:add_work_package' project.id as add_work_package_href %}
  {% if add_work_package_href %}
    <a class="btn btn-primary btn-lg my-1" href="{{ add_work_package_href }}">Add Work Package</a>
  {% endif %}
{% endblock %}

{% block details %}
  {% render_table work_packages_table %}
{% endblock %}
