<configuration>
  <appSettings>
    <add key="pythonpath" value="%SystemDrive%\home\site\wwwroot\haven" />
    <add key="WSGI_HANDLER" value="config.wsgi.application" />
  </appSettings>
  <system.webServer>
      <handlers>
          <add name="PythonHandler"
               path="*"
               verb="*"
               modules="FastCgiModule"
               scriptProcessor="%SystemDrive%\home\python364x86\python.exe|%SystemDrive%\home\python364x86\wfastcgi.py"
               resourceType="Unspecified"
               requireAccess="Script" />
      </handlers>
  </system.webServer>
</configuration>

