{% extends "includes/section.html" %}
{% load django_tables2 %}

{% block name %}
  Participants
{% endblock %}

{% block details %}
  {% render_table participants_table %}
{% endblock %}

{% block actions %}
  {% if work_package.can_add_participants and project_permissions.can_add_participants %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:work_package_add_participant' work_package.project.id work_package.id %}">Add Participant</a>
  {% endif %}
  {% if work_package.can_edit_participants and project_permissions.can_edit_participants %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:work_package_edit_participants' work_package.project.id work_package.id %}">Edit Participants</a>
  {% endif %}
  {% if show_approve_participants %}
    <a class="btn btn-primary btn-lg" href="{% url 'projects:work_package_approve_participants' work_package.project.id work_package.id %}">Approve Participants</a>
  {% endif %}
{% endblock actions %}
