{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block h1_title %}{% if editing %}Edit{% else %}Create{% endif %} User{% endblock %}

{% block content %}
<form method="POST" action="">
  {% csrf_token %}
  
  {% if editing %}
    {{ subject_user.get_full_name }}
  {% else %}
    {{ form|crispy }}
  {% endif %}

  <h2>Projects</h2>
  <div id="project-formset">
  {% crispy formset helper %}
  </div>

  <br />
  <button type="submit" class="btn btn-success">Save User</button>
</form>

{% endblock content %}
