{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load haven %}
{% load static %}

{% block h1_title %}

  {% if editing %}
    Edit User
    <h3>{{ subject_user.display_name }}</h3>
  {% else %}
    Create User
  {% endif %}

{% endblock %}

{% block content %}
  {% if editing %}
    <p>
      Please note that if the user's identity for the safe haven environments has already been created, changing the details below will not affect that identity.
      Those details must be changed separately.
    </p>
  {% else %}
    <p>
      After the user has been created below, it will be possible to assign them to projects and work packages.
      The details will also be used to create the user's identity for the safe haven environments.
      However, this is carried out separately, and until it is done the user will not be able to log in to this management application or the safe haven environments.
    </p>
    <p>
      Please note that the email address provided must be suitable for receiving personal communications - it must not be unmonitored, or shared with other individuals.
    </p>
  {% endif %}
<form method="POST" action="">
  {% csrf_token %}


  {{ form|crispy }}

  <h2>Projects</h2>
  <div id="{{ formset.prefix }}-formset">
    {% crispy formset helper %}
  </div>

</form>

{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">formset('#{{ formset.prefix }}-formset', '{{ formset.prefix | escapejs }}', true)</script>
{% endblock %}
