{% extends "base.html" %}

{% block page_title %}Users{% endblock %}
{% block h1_title %}Users{% endblock %}

{% block content %}
<table class="table table-sm">
  <tbody>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Mobile</th>
      <th>Date added</th>
      <th>Added by</th>
    </tr>
    {% if users %}
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.mobile }}</td>
      <td>{{ user.date_joined }}</td>
      <td>{{ user.created_by }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

<div class='container'>
  <div class="row">
    <div class="form-group" role="group">
      {% if user.user_role.can_create_users %}
        <a class="btn btn-primary btn-lg mx-2" href="{% url 'identity:add_user' %}">Create user</a>
      {% endif %}
    </div>
    <div class="form-group" role="group">
      {% if user.user_role.can_import_users %}
      <form method="POST" action="{% url "identity:import_users" %}" enctype="multipart/form-data">
      {% csrf_token %}
      <label class="btn btn-primary btn-lg mx-2">
        Import user list <input type="file" name="upload_file" id="upload_file" required="True" style="display: none;" onchange="this.form.submit()"/>
      </label>
      </form>
      {% endif %}
    </div>
    <div class="form-group" role="group">
      {% if user.user_role.can_export_users %}
        <a class="btn btn-primary btn-lg mx-2" href="{% url 'identity:export_users' %}">Export UserCreate.csv</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}

{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Users</li>
{% endblock crumbs %}
