{% extends "base.html" %}

{% load haven %}
{% load project_tags %}

{% block page_title %}{{ project.name }}: Participants{% endblock %}
{% block h1_title %}{{ project.name }}: Participants{% endblock %}

{% block content %}
<table class="table table-sm">
  <tbody>
    {% if ordered_participants %}
      {% for participant in ordered_participants %}
          <tr>
            <td>

              {% url_check 'projects:edit_participant' project.id participant.id as edit_user_href %}
              {% if edit_user_href %}
                <a href="{{ edit_user_href}}">
              {% endif %}

              {{ participant.user.display_name }}

              {% if edit_user_href %}
                </a>
              {% endif %}
              <br/>
              {{ participant.role|project_role_display }}
            </td>

            <td>
              <small>added on {{ participant.created_at|date:'d M Y H:i' }}
                <br/>
                by {{ participant.created_by }}</small></td>
          </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock content %}

{% block actions %}
  {% url_check 'projects:add_user' project.id as add_user_href %}
  {% if add_user_href %}
    <a class="btn btn-primary btn-lg" href="{{ add_user_href }}">Add Participant</a>
  {% endif %}
  {% url_check 'projects:edit_participants' project.id as edit_user_href %}
  {% if edit_user_href %}
    <a class="btn btn-primary btn-lg" href="{{ edit_user_href }}">Edit Participants</a>
  {% endif %}
{% endblock actions%}


{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Participants</li>
{% endblock crumbs %}
