{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block h1_title %}Create Work Package{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  {{ form.media }}
  {% crispy form %}

  {% if formset %}
    <h2>Datasets</h2>
    <div id="project-formset">
      {% crispy formset %}
    </div>
  {% endif %}

</form>

{% endblock content %}

{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></li>
  <li class="breadcrumb-item">Work Packages</li>
  <li class="breadcrumb-item active" aria-current="page">New</li>
{% endblock crumbs %}

{% block extra_js %}
  <script type="text/javascript">formset('#project-formset', '{{ formset.prefix | escapejs }}', true)</script>
{% endblock %}
