{% extends "base.html" %}
{% load django_tables2 %}

{% block page_title %}{{ project.name }}{% endblock %}
{% block h1_title %}{{ project.name }}{% endblock %}

{% block content %}

<div class="container">

  {% include "projects/includes/project_detail_detail.html" %}
  {% if project_role.can_list_participants %}
    {% include "projects/includes/project_detail_participants.html" %}
  {% endif %}
  {% include "projects/includes/project_detail_work_packages.html" %}
  {% include "projects/includes/project_detail_datasets.html" %}
</div>

{% endblock content %}

{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
{% endblock crumbs %}
