{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block h1_title %}Data Classification for {{ project.name }}{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }}</p>
<form action="" method="post">{% csrf_token %}
  {{ wizard.management_form }}
<table class="table table-sm">
  <tbody>
    {% for field in wizard.form %}
    <tr>
      <td>{{ field.label }}</td>
      <td>{{ field }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if wizard.steps.prev %}
<button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Start Again</button>
<button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back </button>
{% endif %}

{% if wizard.steps.next %}
<input type="submit" value="Continue " class="btn btn-primary" />
{% endif %}
</form>
{% endblock content %}
