{% extends "base.html" %}

{% load haven %}
{% load project_tags %}

{% block page_title %}{{ project.name }}: Work Packages{% endblock %}
{% block h1_title %}{{ project.name }}: Work Packages{% endblock %}

{% block content %}

<ul class="list-group">
  {% for work_package in work_packages %}
  <li class="list-group-item">
    <div class="float-left">
      <h4><a href="{{ work_package.get_absolute_url }}">{{ work_package.name }}</a></h4>
      <p>{{ work_package.description }}</p>
    </div>
    <div class="float-right">
      <small>{{ work_package.created_at }}</small>
        <br>
        <small>Tier: {{ work_package.tier|tier }}</small>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block actions %}
  {% url_check 'projects:add_work_package' project.id as add_work_package_href %}
  {% if add_work_package_href %}
    <a class="btn btn-primary btn-lg" href="{{ add_work_package_href }}">Add Work Package</a>
  {% endif %}
{% endblock %}


{% block crumbs %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></li>
  <li class="breadcrumb-item active" aria-current="page">Work Packages</li>
{% endblock crumbs %}
