{% extends "base.html" %}
{% load bleach_tags %}
{% load crispy_forms_tags %}

{% block h1_title %}Data Classification for {{ work_package.name }}{% endblock %}

{% block content %}
<p>Step {{ wizard.steps.step1 }}</p>
<form action="" method="post">{% csrf_token %}
  {{ wizard.management_form }}
  <table class="table table-sm">
    <tbody>
      {% for field in wizard.form %}
      <tr>
        <td>{{ field.label | bleach }}</td>
        <td>{{ field }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if wizard.steps.prev %}
  <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Start Again</button>
  <button class="btn" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back </button>
  {% endif %}

  <input type="submit" value="Continue " class="btn btn-primary" />
</form>

{% if guidance %}
  <h3 class="mt-4">Additional Guidance</h5>
  {% for g in guidance %}
    <a name="{{ g.name }}"></a>
    {{ g.guidance | bleach }}
  {% endfor %}
{% endif %}

{% endblock content %}
